{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="h2 text-center head">Вход в систему</div> 
    <form class="form-horizontal" action="{% url 'authapp:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        {% if next%}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <input class="form-control" type="submit" value="Войти">
    </form>
    <a href="{% url 'authapp:register' %}">Зарегистрироваться</a> 
{% endblock %}