{% extends 'index/base.html' %}
{% load static %}

{% block title %}Каталог{% endblock %}

{% block header %}
	<div class="hero-white">
		<div class="header clearfix">

			{% include 'index/includes/top_menu.html'%}

		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="details">

		{% include 'geekshop/includes/categories_menu.html' %}

		<div class="details-products">
			<div class="details-slider">
				<div class="slider-product">
					<a href="{{ promotion_product.get_absolute_url }}">
						<img src="{{ promotion_product.image.url }}" style="height: 570px; width: 570px;">
					</a>
				</div>
			</div>

			<div class="description">
				<h3 class="big-bold">{{ promotion_product.name | title }}</h3>
				<h3 class="red">горячее предложение</h3>
				<p class="price">{{ promotion_product.price | floatformat:1 }}<span>руб</span></p>
				<a href="{% url 'basket:add' promotion_product.pk %}" class="red-button">
					заказать<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
				<div class="description-text">
					<p>Расположитесь комфортно.</p> 
					<p>Отличное качество материалов
					позволит вам это.</p> 
					<p>Различные цвета</p>
					<p>высочайший уровень
					эргономики и прочность.</p>
				</div>
			</div>
		</div>

		<div class="related">
			<div class="title clearfix">
				<h2>Похожие продукты</h2>
				<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
			</div>
			<div class="related-products clearfix">
				<div class="block">
					<a href="#"><img src="{% static 'img/product-11.jpg' %}" alt="">
						<div class="text">
							<img src="{% static 'img/icon-hover.png' %}" alt="img">
							<h4>Стул повышенного качества</h4>
							<p>Не оторваться. </p>
						</div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{% static 'img/product-21.jpg' %}" alt="">
						<div class="text">
							<img src="{% static 'img/icon-hover.png' %}" alt="img">
							<h4>Стул повышенного качества</h4>
							<p>Не оторваться. </p>
						</div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{% static 'img/product-31.jpg' %}" alt="">
						<div class="text">
							<img src="{% static 'img/icon-hover.png' %}" alt="img">
							<h4>Стул повышенного качества</h4>
							<p>Не оторваться. </p>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
